* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    // width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* columns style */

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    border: 1px solid red;
}