* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    // width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* columns style */

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    border: 1px solid red;
}

/* cards style */

.card {
    flex-basis: 200px;
    border: 1px solid red;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    margin: 5px;

    .card-title {
        font-size: 22px;
    }

    .card-info {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;

        .language {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}